
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}
<h1>İstatistik Sayfası</h1>
<div class="card text-white bg-primary mb-3" style="max-width: 100%;">
    
    <div class="card-body">
        <h5 class="card-title" style="color:white">Toplam Personel Sayısı: @ViewBag.emplyoyeeCount</h5>
    
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 100%;">

    <div class="card-body">
        <h5 class="card-title">En Yüksek Maaşlı Personel:</h5>
        
    </div>
</div>
<div class="card text-white badge-success mb-3" style="max-width: 100%;">

    <div class="card-body">
        <h5 class="card-title">Toplam Şehir Sayısı:@ViewBag.totalCityCount</h5>

    </div>
</div>
<div class="card text-white badge-warning mb-3" style="max-width: 100%;">

    <div class="card-body">
        <h5 class="card-title">Ortalama Maaş:@ViewBag.avgEmployeeSalary</h5>

    </div>
</div>
<div class="card text-white badge-danger mb-3" style="max-width: 100%;">

    <div class="card-body">
        <h5 class="card-title">Yazılım Departmanında Personel Sayısı:@ViewBag.countSoftwareDepartment</h5>

    </div>
</div>
<div class="card text-white badge-success mb-3" style="max-width: 100%;">

    <div class="card-body">
        <h5 class="card-title">Ankara Ya Da Adana'daki Personlin Toplam Maaşı: @ViewBag.cityAnkaraOrAdanaSumSalary</h5>

    </div>
</div>
<div class="card text-white badge-primary mb-3" style="max-width: 100%;">

    <div class="card-body">
        <h5 class="card-title">Ankara'da ki Yazılım Sektörünün Toplam Maaşı'@ViewBag.cityAnkaraSoftwareSumSallary</h5>

    </div>
</div>
