
@{
    ViewBag.Title = "AddReferance";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}


<h2>Yeni Referans Ekle</h2>
<form method="post">
    <label>Referans Adı - Soyadı</label>
    <input type="text" class="form-control" name="ReferenceName" />
    <br />
    <label>Mail</label>
    <input type="text" class="form-control" name="Mail" />
    <br />
    

    <br />
    <button class="btn btn-info"> Kaydet</button>
</form>
