<section class="w3l-index5" id="about">
    <div class="new-block py-5">
        <div class="container py-lg-5">
            <div class="middle-section text-center">
                <div class="section-width">
                    <h3 class="title-big">
                        I can give your business a new creative start right away! Hire me for your
                        Awesome project
                    </h3>
                    <p class="mt-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, corrupti odit? At iure
                        facere,
                        porro repellat officia quas, dolores magnam assumenda soluta odit
                        harum
                        voluptate inventore ipsa maiores fugiat accusamus eos nulla. Iure voluptatibus explicabo
                        officia.
                    </p>
                </div>
                <div class="history-info mt-5">
                    <div class="position-relative">
                        <img src="assets/images/bg.jpg" class="img-fluid radius-image video-popup-image"
                             alt="video-popup">

                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>

                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/Cu2VnoRcxKM" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                    <iframe src="https://www.youtube.com/embed/Z_KspIX1oXU" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
