@model Casgem_Portfolio.Models.Entities.Project
@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Proje Düzenleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.ProjectID)
    <label>Proje Adı</label>
    @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control" })
    <br />
    <label>Proje Tarihi</label>
    @Html.TextBoxFor(x => x.ProfectDate, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.ProjectDetails, new { @class = "form-control" })
    <br />


    <button class="btn btn-info"> Kaydet</button>
</form>