@model Casgem_Portfolio.Models.Entities.Project
@{
    ViewBag.Title = "ProjectDetails";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>@Model.ProjectName </h2>

<p>@Model.ProjectDetails</p>