﻿
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Hizmet Ekleme Sayfası</h2>

<form method="post">
    <label>Hizmet Başlığı</label>
    <input type="text" class="form-control" name="ServiceTitle" />
    <br />
    <label>Hizmet İçeriği</label>
    <input type="text" class="form-control" name="ServiceContent" />
    <br />
    <button class="btn btn-info">Hizmeti Kaydet</button>
</form>