@model List<Casgem_Portfolio.Models.Entities.TblFeature>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2 style="color:brown ;text-align:center">Tanıtım Sayfası</h2>

<table class="table table-hover">
    <tr style="background-color:burlywood ;text-align:center" >
        
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Resim</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FetaureTitle</td>
            <td>@item.FeatureDescrition</td>
            <td>@item.FeatureImageURL</td>          
            <td><a href="/Feature/EditFeature/@item.FeatureID" class="btn btn-info ; align-center">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Skill/Index/" class="btn btn-outline-primary"> Kayan Yazı Düzenle </a>