
@{
    ViewBag.Title = "AddResum";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Kısa Özgeçmiş Ekle</h2>

<form method="post">
    <label>Başlık-1</label>
    <input type="text" class="form-control" name="Title1" />
    <br />
    <label>Başlık-2</label>
    <input type="text" class="form-control" name="Title2" />
    <br />
    <label>Özgeçmiş</label>
    <input type="text" class="form-control" name="Description" />
    <br />
    <button class="btn btn-info"> Kaydet</button>
</form>