
@{
    ViewBag.Title = "AddSocial";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Sosyal Medya Ekle</h2>
<form method="post">
    <label> Sosyal Medya Adı</label>
    <input type="text" class="form-control" name="SocialMediaName" />
    <br />
    <label> Adres Url </label>
    <input type="text" class="form-control" name="SocialMediaURL" />
    <br />
    <label>İkon</label>
    <input type="text" class="form-control" name="SocialMediaIcon" />
    <br />
    <button class="btn btn-info"> Kaydet</button>
</form>