
@model Casgem_Portfolio.Models.Entities.TblContact

<div class="cont-details">
    <div class="cont-top">
        <div class="cont-left text-center">
            <span class="fa fa-phone text-primary"></span>
        </div>
        <div class="cont-right">
            <h6>Beni Ara</h6>
            <p>@ViewBag.num</p>
        </div>
    </div>
    <div class="cont-top margin-up">
        <div class="cont-left text-center">
            <span class="fa fa-envelope-o text-primary"></span>
        </div>
        <div class="cont-right">
            <h6>Bana Mail Atabilirsin!</h6>
            <p><a href="mailto:aleyna.tumturk403@mail.com" class="mail">@ViewBag.mail</a></p>
        </div>
    </div>
    <div class="cont-top margin-up">
        <div class="cont-left text-center">
            <span class="fa fa-map-marker text-primary"></span>
        </div>
        <div class="cont-right">
            <h6>Adres</h6>
            <p>@ViewBag.location</p>
        </div>
    </div>
</div>
