
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yetenek Ekle</h2>

<form method="post">
    <label>Yetenek Adı</label>
    <input type="text" class="form-control" name="SkillName" />
    <br />
    <button class="btn btn-info"> Kaydet</button>
</form>
